{%- set clean_version = image_version | regex_replace('[+-].*', '') -%}
{%- set version_split = clean_version.split('.') -%}
{%- set major_version = version_split[0]|int -%}
{%- set minor_version = version_split[1]|int -%}
{%- set fix_version = version_split[2]|int -%}
user:
  rstudio-pm:
    exists: true
    uid: 999
    gid: 999

group:
  rstudio-pm:
    exists: true
    gid: 999

package:
  rstudio-pm:
    installed: true

process:
  rstudio-pm:
    running: true
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

port:
  tcp6:4242:
    listening: true
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}

file:
  /etc/rstudio-pm/license.lic:
# Currently does not exist
# Be sure it is NOT a directory
    exists: false
  /opt/rstudio-pm/:
    exists: true
  /opt/rstudio-pm/bin/rstudio-pm:
    exists: true
  /opt/rstudio-pm/bin/rspm:
    exists: true
  /usr/local/bin/rspm:
    exists: true
  /usr/local/bin/tini:
    exists: true
  {% if major_version > 2024 or (major_version == 2024 and minor_version >= 8) %}
  {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}
  /var/log/rstudio/rstudio-pm/rstudio-pm.log:
    exists: true
    filetype: file
    contents:
      - "Posit Package Manager service is ready"
  {{ end }}{% endraw %}
  {% endif %}
  # Check for R installation
  /opt/R/{{ r_version }}/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
  /opt/R/default/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
  /usr/local/bin/R{{ r_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  /usr/local/bin/Rscript{{ r_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  # Check for Python installation
  /opt/python/{{ python_version }}/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
  /opt/python/default/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
  /usr/local/bin/python{{ python_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink
  /usr/local/bin/pip{{ python_version }}:
    exists: {% raw %}{{ if eq .Env.IMAGE_TYPE "std" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: symlink

command:
  "Ensure Package Manager version is correct":
    exec: /opt/rstudio-pm/bin/rstudio-pm --version
    exit-status: 0
    stdout:
      - "{{ image_version }}"
  "Ensure Package Manager is running":
    exec: pgrep rstudio-pm
    exit-status: 0
  "Ensure R version is correct":
    exec: /opt/R/{{ r_version }}/bin/R --version
    exit-status: 0
    stdout:
      - "{{ r_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
  "Ensure Python version is correct":
    exec: /opt/python/{{ python_version }}/bin/python --version
    exit-status: 0
    stdout:
      - "{{ python_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_TYPE "min" }}true{{ else }}false{{ end }}{% endraw %}
