{#-
Below are imports for Bakery's macros. If any are unneeded, they can be removed.
Bakery handles bootstrapping the files into template rendering.
-#}
{%- import "python.j2" as python -%}
{%- import "r.j2" as r -%}
{%- set clean_version = Image.Version | stripMetadata -%}
{%- set version_split = clean_version.split('.') -%}
{%- set major_version = version_split[0]|int -%}
{%- set minor_version = version_split[1]|int -%}
{%- set fix_version = version_split[2]|int -%}
user:
  rstudio-pm:
    exists: true
    uid: 999
    gid: 999

group:
  rstudio-pm:
    exists: true
    gid: 999

package:
  rstudio-pm:
    installed: true

process:
  rstudio-pm:
    running: true
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}

port:
  tcp6:4242:
    listening: true
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}

file:
  /etc/rstudio-pm/license.lic:
# Currently does not exist
# Be sure it is NOT a directory
    exists: false
  /opt/rstudio-pm/:
    exists: true
  /opt/rstudio-pm/bin/rstudio-pm:
    exists: true
  /opt/rstudio-pm/bin/rspm:
    exists: true
  /usr/local/bin/rspm:
    exists: true
  /usr/local/bin/tini:
    exists: true
  {% if major_version > 2024 or (major_version == 2024 and minor_version >= 8) -%}
  {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}
  /var/log/rstudio/rstudio-pm/rstudio-pm.log:
    exists: true
    filetype: file
    contents:
      - "Posit Package Manager service is ready"
  {{ end }}{% endraw %}
  {%- endif %}
  # Check for R installation
  {% for r_version in Dependencies.R -%}
  /opt/R/{{ r_version }}/bin/R:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
    filetype: file
  {%- endfor %}
  # Check for Python installation
  {% for python_version in Dependencies.python -%}
  /opt/python/{{ python_version }}/bin/python:
    exists: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}true{{ else }}false{{ end }}{% endraw %}
  {%- endfor %}
  /etc/rstudio-pm/rstudio-pm.gcfg:
    exists: true
    filetype: file
    {% raw %}{{ if eq .Env.IMAGE_VARIANT "Standard" }}{% endraw %}
    contents:
      - RVersion = {{ r.get_version_directory(Dependencies.R.0) }}
      - PythonVersion = {{ python.get_version_directory(Dependencies.python.0) }}/bin/python
    {% raw %}{{ end }}{% endraw %}

command:
  "Ensure Package Manager version is correct":
    exec: /opt/rstudio-pm/bin/rstudio-pm --version
    exit-status: 0
    stdout:
      - "{{ Image.Version }}"
  {% for r_version in Dependencies.R -%}
  "Ensure R version is correct":
    exec: {{ r.get_version_directory(r_version) }}/bin/R --version
    exit-status: 0
    stdout:
      - "{{ r_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
  {%- endfor %}
  {% for python_version in Dependencies.python -%}
  "Ensure Python version is correct":
    exec: {{ python.get_version_directory(python_version) }}/bin/python --version
    exit-status: 0
    stdout:
      - "{{ python_version }}"
    skip: {% raw %}{{ if eq .Env.IMAGE_VARIANT "Minimal" }}true{{ else }}false{{ end }}{% endraw %}
  {%- endfor %}
